.component-item-dialog {
  width: 90vw !important;
  height: 90vh;
  padding-bottom: 0px !important;

  .component-dialog-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .preview-container {
      flex-shrink: 0;
      height: 200px;
      border-radius: 6px 6px 0px 0px;

      * {
        border-radius: inherit;
      }
    }

    .code-container {
      flex: 1 1 100%;
      overflow: hidden;
      display: flex;

      pre {
        margin: 0;
        padding: 12px !important;
        border-radius: 3px;
      }

      .title-bar {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .html-container {
        padding: 5px 20px 20px 20px;
        min-width: 20%;
        border-right: solid 1px black;
        resize: horizontal;
        overflow: auto;
        position: relative;
      }

      .sass-container {
        flex: 1;
        overflow: auto;
        min-width: 20%;
        padding: 5px 20px 20px 20px;
      }
    }
  }
}
