.code-snippet-item {
  // flex: 1 1 40%;
  height: 300px;
  overflow: hidden;
  padding: 0px !important;
  transition: all 0.3s ease-in-out !important;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &.maximise {
    height: 600px;
    width: 100%;
  }

  &.minimise {
    width: calc(50% - 15px);
  }

  .title-bar {
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 1.5em;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .code-area {
    flex: 1;
    width: 100%;
    overflow: auto;
    background-color: #2d2d2d;
    border-radius: 0px 0px 3px 3px;

    display: flex;

    pre {
      flex: 1;
      margin: 0;
      padding: 12px !important;
      border-radius: 0px 0px 3px 3px;
    }
  }
}
