.code-snippet-item {
  flex: 50%;
  // height: fit-content;
  //max-height: 300px;
  height: max-content;
  padding: 0px !important;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
  }

  .code-area {
    width: 100%;

    pre {
      margin: 0;
      padding: 12px !important;
      border-radius: 0px 0px 3px 3px;
    }
  }
}
